.main{
   background-color: #27CCF5;
}

.sidebar{
    width: 300px;
    background-color: #27F5B7;
    color: blue;
    padding: 20px;
}

.item{
    background-color: #2776F5;
    margin-left: 30px;
}

.Head{
    background-color: #3F27F5;
    margin-left: 15px;
}

.container {
    display: flex;
    height: 100vh;
}