{% extends 'notes/layout.html'%}
{% load static %}

{% block content %}
        <h1> Notes </h1>
        {% if notes %}
        {% for el in notes %}
            <div class="note">
                <h3>{{ el.title }}</h3>
                <p> {{ el.text }} </p>
                <p> Remind me on {{ el.reminder }} </p>
                <a href="{% url 'update' el.id %}"><button type="submit"> Edit </button></a>
                <a href="{% url 'delete' el.id %}"><button type="submit"> Delete </button></a>

            </div>
        {% endfor %}
        {% else %}
            <p> Notebook is empty </p>
        {% endif %}
{% endblock %}

{% block title %}
    Notes
{% endblock %}