{% extends 'notes/layout.html'%}
{% load static %}

{% block content %}
    <div class = "features">
          <h1> Form for writing articles</h1>
          <form method="post" class = 'forms_form'>
             {% csrf_token %}
             {{ form.title }}
              {{ form.anons }}
              {{ form.full_text }}
              {{ form.date }}
              <span>{{ error }}</span>
            <button class="btn btn-success" type="submit"> Add article</button>
          </form>
    </div>
{% endblock %}

{% block title %}
    Create article
{% endblock %}